*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
*.bin

.gemini/
gha-creds-*.json
/gemma_model/src/main/assets/gemma3-1b-it-int4.task
/composeApp/google-services.json
/gemma_model/src/main/assets/universal_sentence_encoder.tflite
